#b_navbar{
    background-color: #282626;

    position:relative;
    display:grid;
    height:150px;
    grid-template-columns: 400px auto;
}

#b_homebutton{
    /* background-color: black; */
    position:relative;
    width:80%;
    height:80%;
    margin:auto;
}