#container{
    position:relative;
    background-color:#E7CFEA;
    z-index:1;
}

h1{
    font-family: Verdana;
}

#title_img_container{
    position:relative;
    height:500px;
    width:500px;
    margin:auto;
}

#title_img{
    position:relative;
    height:500px;
    width:500px;
    display:block;
    background-clip: content-box;
    border-radius:70px;

    z-index:3;
}

#title_text{
    margin:auto;    
    padding-top:100px;
    padding-bottom:20px;
    
    width:1200px;
    font-size:120px;
    text-align:center;
}

.text_gradient{
    background-image: linear-gradient(45deg, #efe633, #998CD9);
    
    background-size: 100%;
    background-repeat: repeat;

    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

#title_text_border{
    position:absolute;
    color:azure;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;  
    padding-top:100px;
    padding-bottom:20px;

    -webkit-text-stroke: 20px azure;

    width:1200px;
    font-size:120px;
    text-align:center;

    z-index:-1;
}

#dash{
    margin:auto;    
    padding-top:400px;
    padding-bottom:450px;
    
    width:1200px;
    font-size:160px;
    text-align:center;
}

#buttonss{
    position:relative;
    background-color:#D1A6D8;
    width:80%;
    padding-top:30px;
    margin:auto;
    border-radius:90px;
    margin-bottom:300px;
}

#button_grid{
    position: relative;
    display:grid;
    grid-template-columns: auto;
    row-gap:30px;

    --t: #e7c8eb;
}

.button{
    background-color: transparent;

    position:relative;
    width:80%;
    height:200px;
    margin:auto;
    border:0;
    border-radius:50px;
    display:grid;
    grid-template-columns: auto auto;

    transition-duration: 1s;
}

.button:hover{
    background-color:#e7c8eb;
}

.button:hover .button_text{
    transition-duration: 0.4s;
    color:azure;
    padding-right:222px;
}

.button:hover .button_arrow{
    transition-duration: 0.7s;
    color:azure;
}

.button:active{
    transition-duration: 0.1s;
    background-color: azure;
}

.button:active .button_img{
    transition: 0.1s;
    opacity: 0%;
}

.button_img{
    opacity:70%;
    width:120px;
    height:120px;
    object-fit:cover;
    /* border: 25px solid #e7c8eb; */
    border-radius:20px;
    margin:auto;
    margin-right:0px;

    

    transition-duration: 3s;
    -webkit-transition: opacity 80%;
}
.button_text{
    margin:auto;
    margin-left:70px;
    text-align:left;
    font-size:50px;

    color:#e7c8eb;
}
.button_arrow{
    position:absolute;
    margin:auto;
    margin-left:727px;
    color:transparent;

    font-size:150px;
}